<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :imię, style: "display: block" %>
    <%= form.text_field :imię %>
  </div>

  <div>
    <%= form.label :nazwisko, style: "display: block" %>
    <%= form.text_field :nazwisko %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.datetime_field :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
