<div id="<%= dom_id pet %>">
  <p>
    <strong>Imię:</strong>
    <%= pet.imię %>
  </p>

  <p>
    <strong>Nazwisko:</strong>
    <%= pet.nazwisko %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= pet.data %>
  </p>

</div>
