<div id="<%= dom_id item %>">
  <p>
    <strong>Imię:</strong>
    <%= item.imię %>
  </p>

  <p>
    <strong>Nazwisko:</strong>
    <%= item.nazwisko %>
  </p>

  <p>
    <strong>Numer telefonu:</strong>
    <%= item.numer_telefonu %>
  </p>

  <p>
    <strong>Adres email:</strong>
    <%= item.adres_email %>
  </p>

</div>
